{% extends "_base.html" %}
{% block main %}
<div class="container">
        <h2>{% trans "Hello," %} {{ user.username }}</h2>
        <form method="post">
          {% if draw_error %}
          <div class="errorlist">
            {{ draw_error }}
          </div>
          {% endif %}
          {% csrf_token %}
          <button type="submit" class="Button1">{% trans "Draw task" %}</button>
        </form>
        <a href="{% url "tasks" %}" class="Button1">{% trans "Active tasks" %}</a><br />
        <a href="{% url "my-photos" %}" class="Button1">{% trans "My photos" %}</a><br />
        <a href="{% url "all-photos" %}" class="Button1">{% trans "Photo Gallery" %}</a><br />
        <form method="post" action="{% url "logout" %}">
          {% csrf_token %}
          <button type="submit" class="ButtonLogout">{% trans "Log out" %}</button>
        </form>
        <!--
        <?php if ($user_id == 6 && !empty($top_users)): ?>
            <h3>{% trans "Top 5 users with most tasks done:" %}</h3>
            <ul>
                <?php foreach ($top_users as $user): ?>
                    <li><?php echo htmlspecialchars($user['username']); ?> - <?php echo htmlspecialchars($user['completed_count']); ?> {% trans "tasks" %}</li>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?> -->

    </div>
{% endblock %}