{% extends "_base.html" %}
{% block main %}
<div class="container">
        <h2>Witaj, {{ user.username }}!</h2>
        <form method="post">
          {% if draw_error %}
          <div class="errorlist">
            {{ draw_error }}
          </div>
          {% endif %}
          {% csrf_token %}
          <button type="submit" class="Button1">Losuj zadanie</button>
        </form>
        <a href="{% url "tasks" %}" class="Button1">Zobacz swoje zadania</a><br />
        <a href="{% url "my-photos" %}" class="Button1">Moje zdjęcia</a><br />
        <a href="{% url "all-photos" %}" class="Button1">Galeria zdjęć</a><br />
        <form method="post" action="{% url "logout" %}">
          {% csrf_token %}
          <button type="submit" class="ButtonLogout">Wyloguj się</button>
        </form>
        <!--
        Dalsza część kodu, która wyświetla top 5 użytkowników z największą liczbą zrealizowanych zadań
        <?php if ($user_id == 6 && !empty($top_users)): ?>
            <h3>Top 5 użytkowników z największą liczbą zrealizowanych zadań:</h3>
            <ul>
                <?php foreach ($top_users as $user): ?>
                    <li><?php echo htmlspecialchars($user['username']); ?> - <?php echo htmlspecialchars($user['completed_count']); ?> zadań</li>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?> -->

    </div>
{% endblock %}