{% extends "_base.html" %}
{% block main %}
  <div class="container">
    <h2>Galeria zdjęć</h2>
    <a href="{% url "dashboard" %}" class="Button1">Powrót do menu głównego</a>
    {% if not object_list %}
    <p>Brak przesłanych zdjęć.</p>
    {% else %}
      {% for task in page_obj %}
        <div class="gallery">
          <div class="gallery-item" style="justify-content: center;">
            <a href="{{ task.completedtask.photo.url }}">
              <img loading="lazy"
                   src="{{ task.completedtask.photo.url }}"
                   alt="Zdjęcie zadania"
                   style="max-width: 80%;margin-left:10%;">
            </a>
            <p><strong>Opis zadania: {{ task.task.description }}</strong></p>
            <p><strong>Autor: {{ task.user }}, {{ task.completedtask.date_completed }}</strong></p>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a class="Button2" href="?page={{ page_obj.previous_page_number }}">Poprzednia</a>
        {% endif %}


      {% for page_num in page_obj.paginator.page_range %}
        {% if page_obj.number ==  page_num %}
        <a class="Button2Active" href="?page={{ page_num }}">{{ page_num }}</a>
        {% else %}
        <a class="Button2" href="?page={{ page_num }}">{{ page_num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="Button2">Następna</a>
      {% endif %}
    </div>
    <a href="dashboard.php" class="Button1">Powrót do menu głównego</a>
  </div>
{% endblock %}