{% extends "_base.html" %}
{% load static %}
{% block main %}
  <div class="container">
    <img src="{% static "graphics/476663297_639777108738543_8291091253138925484_n.png" %}" alt="Logo" style="max-width: 50%;">
    <h1>{% trans "Committees' Training 2025 - phot game" %}</h1>
    <p>{% trans "Hello, draw tasks, make photos and have fun" %}</p>
    <a href="{% url "signup" %}" class="Button1">{% trans "Registration" %}</a>
    <a href="{% url "login" %}" class="Button1">{% trans "Login" %}</a>
  </div>

{% endblock %}