{% extends "_base.html" %}

{% block main %}
<div class="container">
  <form method="post" action="{% url "dashboard" %}">
    {% if draw_error %}
    <div class="errorlist">
      {{ draw_error }}
    </div>
    {% endif %}
    {% csrf_token %}
    <button type="submit" class="Button1">{% trans "Draw task" %}</button>
  </form>
  <h2>{% trans "Your pending tasks" %}</h2>
  {% if not object_list %}
  <p>{% trans "You don't have any tasks assigned." %}</p>
  {% else %}
    {% for task in object_list %}
      <div class="task_item">
        <a href="{% url "tasks_detail" task.id %}" class="task_item_meat">
          <p><strong>{{ task.task.description }}</strong></p>
        </a>
      </div>
    {% endfor %}
  {% endif %}
  {% if completed_tasks  %}
  <h2>{% trans "Realized tasks" %}</h2>
    {% for task in completed_tasks %}
      <div class="task_item" style="background-color:#6eceb2;color:#1d1f2a;margin-bottom:10px;">
        <span class="task_item_meat">
          <p><strong>{{ task.task.description }}</strong></p>
        </span>
      </div>
    {% endfor %}
  {% endif %}
  <a href="{% url "dashboard" %}" class="Button1">{% trans "Back to main menu" %}</a>

</div>
{% endblock %}
